@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap');
:root{
    --fondo:#FCFEB2;
} 
body{
    background-color: var(--fondo);
}
main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo_upemor{
    position: absolute;
    top:0;
    right: 0;
    width: 80px;
}
button{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}
p{
    margin: 0;
    padding: 0;
}